{% extends "base.html" %}
{% block title %} HomePage {% endblock %}
{% block content %}
<h1>Home Page</h1>
    <!--<h1> </h1> = Headers-->
    <p>Hello World!</p>
    <p>This is a randomizer for Minecraft's asset folder</p>
    <p>This website is currently in developement and will be released soon</p>
    <!--<p> </p> = paragraph start and end-->
<!--    <p>{{content}}</p>-->
<!--    {% for i in content %}-->
<!--        <p>I Love {{i}}</p>-->
<!--    {% endfor %}-->
    <!--{} x2 = variables passed into template-->
    <!--{with 2 percent signs inside (need spaces btw logic)} = writing python in html-->
{% endblock %}
