{% extends "base.html" %}
{% block title %} HomePage {% endblock %}
{% block content %}
<h1>Randomize</h1>
<!-- change # to a function call or something to do randomization -->
<!-- post = posting info, get = getting info -->
<!-- # = reload page -->
<!-- href = the file to save -->
<!-- download = the downloaded file name -->
<a href="{{ url_for('static', filename='test.txt') }}" download="Randomized_Assets">Download Randomized Assets</a>
  <!-- <img src="/images/myw3schoolsimage.jpg" alt="W3Schools" width="104" height="142"> -->

{% endblock %}